.hero--section {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.profile_picture_container {
    align-self: center;
    align-items: center;
}

#profile_picture {
    width: 300px;
    border-radius: 50%;
    align-self: center;
}

#title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

.hero--heading {
    text-align: center;
    font-size: 1.5rem;
}

.socials_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    height: 2rem;
    color: var(--icon);
}

/* CSS */
.resume-btn {
    background-color: var(--icon);
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: var(--nav);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    height: 2rem;
    width: fit-content;
    padding: 0 0.5rem;
    outline: none;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: -1;
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}