.hero--section {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.profile_picture_container {
    align-self: center;
    align-items: center;
}

#profile_picture {
    width: 300px;
    border-radius: 50%;
    align-self: center;
}

#title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

.hero--heading {
    text-align: center;
    font-size: 1.5rem;
}

.socials_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    height: 2rem;
    color: var(--icon);
}