.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85px;
    background: white;
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    /* height: 17vh; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    font-size: 2rem;
}

.nav-links {
    display: flex;
    gap: 0.5rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin-left: 15px;
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
}