* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-size: normal;
}

:root {
    overflow-x: hidden;
    --primary: #5e3bee;
    /* --heading-color: #282938; */
    --bg-shade: #f5fcff;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
    --nav: var(--white);
    --icon: var(--black);
    --shadow: rgba(0, 0, 0, 0.15);
}

/* Dark Mode */

.dark {
    color: var(--white);
    background-color: #292929;
    --nav: #292929;
    --icon: var(--white);
    --shadow: #3e3e3e;
}